.imgauto_catalogo{
    border-radius: 10px 10px 0px 0px;
    height: 250px;
    width: 100%;
    display: flex;
}


.cardauto{
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    border-radius: 10px 10px 10px 10px;
}

.colonnacatalogo {
    float: left;
    width: 500px;
    color: black;
    padding: 15px;
}
.rigacatalogo {
    margin-bottom:50px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.nomeauto {
    text-align: center;
    margin: 3%;
}

