.immagine_column
{
    width: 50%;
    height: 200px;
}

.scritta_column
{
    text-decoration: none;
    color: black;
}

/* Create two equal columns that floats next to each other */
.colonna {
    float: left;
    width: 33.33%;
    height: 300px; /* Should be removed. Only for demonstration */
    text-align: center!important;
    vertical-align: center!important;
    box-sizing: border-box;
}

.separatore
{
    border-right: 5px solid #000000;
}

/* Clear floats after the columns */
.riga:after {
    content: "";
    display: table;
    clear: both;
}
