/*
    Classe formattazione generica della navbar
    Definizione tipo di font, grandezza font
*/
.navbar
{
    font-family: Verdana, sans-serif; /* specifica il tipo di carattere ad usare, se non trova il primo utilizza il secondo specificato*/
    font-size: 15px; /* grandezza del font della pagina */
    line-height: 1.5; /* altezza di una riga all'interno di un elemento, detetrmina lo spazio verticale tra le linee di testo */
    margin: 0; /* imposta il margine degli elementi a 0, ovvero lo spazio tra l'elemento stesso e gli altri elementi circostanti*/
    -ms-text-size-adjust:100%; /* adattamento di dimensione del testo nei browser internet explorer */
    -webkit-text-size-adjust:100%; /* specifica come il browser webkit dovrebbe gestire il ridimensionamento del testo nella pagina web (Chrome e Safari) */
    box-sizing:border-box; /* indica che il box-model dell'elemento è calcolato includendo padding bordo all'interno delle dimensioni */
    overflow-x:hidden; /* indica che il contenuto che supera la larghezza dell'elemento sarà nascosto e non visibile */
}

.element_navbar
{
    padding:8px 16px; /* valore padding 8px top e bottom e 16px right e left */
    width:auto; /* imposta larghezza degli elementi in base al loro contenuto */
    border:none; /* rimuove il bordo di un elemento HTML */
    display:block;
    outline:0;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    color: black;
    cursor:pointer;
    white-space:nowrap;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

a{background-color:transparent}
a:active,a:hover{outline-width:0}

.element_navbar:disabled
{
    cursor:not-allowed;
    opacity:0.3;
}

.posizione_sx
{
    float:left!important;
}

.posizione_dx
{
    float:right!important;
}

.element_navbar:hover
{
    color:#000!important;
    background-color:#ccc!important;
}


.footer
{
    padding-top: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 35px;
    background-color: black;
    color: white;
    text-align: center;
}
