* {box-sizing: border-box;}

/*
    Classe formattazione generica della navbar
    Definizione tipo di font, grandezza font
*/
.navbar
{
    font-family: Verdana, sans-serif; /* specifica il tipo di carattere ad usare, se non trova il primo utilizza il secondo specificato*/
    font-size: 15px; /* grandezza del font della pagina */
    line-height: 1.5; /* altezza di una riga all'interno di un elemento, detetrmina lo spazio verticale tra le linee di testo */
    margin: 0; /* imposta il margine degli elementi a 0, ovvero lo spazio tra l'elemento stesso e gli altri elementi circostanti*/
    -ms-text-size-adjust:100%; /* adattamento di dimensione del testo nei browser internet explorer */
    -webkit-text-size-adjust:100%; /* specifica come il browser webkit dovrebbe gestire il ridimensionamento del testo nella pagina web (Chrome e Safari) */
    box-sizing:border-box; /* indica che il box-model dell'elemento è calcolato includendo padding bordo all'interno delle dimensioni */
    overflow-x:hidden; /* indica che il contenuto che supera la larghezza dell'elemento sarà nascosto e non visibile */
}

/*
    Classe formattazione specifica per ogni bottone della navbar
    Definizione di grandezze, bordi, cursore, testo, ecc
*/
.element_navbar
{
    padding:8px 16px; /* valore padding 8px top e bottom e 16px right e left */
    width:auto; /* imposta larghezza degli elementi in base al loro contenuto */
    border:none; /* rimuove il bordo di un elemento HTML */
    outline:0; /* contorno che circonda un elemento quando viene selezionato o riceve il focus */
    vertical-align:middle; /* allinea verticalmente un elemento all'interno del contenitore */
    overflow:hidden; /* nasconde il contenuto che supera i limiti di un elemento con dimensione fissa o predefinta*/
    text-decoration:none; /* rimuove tutte le decorazioni del testo, es sottolineature, ecc */
    text-align:center; /* centra orizzontalmente il testo all'interno di un elemento */
    color: black; /* colore del testo nero */
    cursor:pointer; /* il cursore diventa un dito puntatore quando passa sopra l'elemento */
    white-space:nowrap; /* impedisce il wrap del contenuto di un elemento su una nuova riga */
    -webkit-touch-callout:none; /* impedisce la visualizzazione del menu che solitamente appare sui dispositivi mobili */
    -webkit-user-select:none; /* impedisce agli utenti di selezionare, copiare o incollare il testo all'interno dell'elemento */
    -moz-user-select:none; /* impedisce agli utenti di selezionare il testo all'interno dell'elemento (browser Mozilla, es FireFox) */
    -ms-user-select:none; /* impedisce agli utenti di selezionare il testo all'interno dell'elemento (specifico per browser Microsoft Edge)*/
    user-select:none; /* impedisce di selezionare testi o elementi */
}



/*
    Proprietà da applicare quando l'elemento della barra di navigazione è disabilitato
 */
.element_navbar:disabled
{
    cursor:not-allowed; /* indica che se l'elemento è disabilitato l'utente non può cliccarci */
    opacity:0.3; /* imposta l'opacità di un elemento al 30% della sua opacità completa */
}


/*
    Proprietà da applicare quando si passa sopra con il cursore all'elemento della navbar
 */
.element_navbar:hover
{
    color:#000!important;
    background-color:#ccc!important;
    outline-width:0; /* imposta l'opacità di un elemento al 30% della sua opacità completa */
}



/*
    Classe per allineare un elemento a sinistra
 */
.posizione_sx
{
    float:left!important; /* posiziona elemento a sx rispetto agli altri, ignorando qualsiasi altro valore definito da altre regole css */
}


/*
    Classe per allineare un elemento a sinistra
 */
.posizione_dx
{
    float:right!important; /* posiziona elemento a dx rispetto agli altri, ignorando qualsiasi altro valore definito da altre regole css */
}


/*
    Classe per la formattazione del footer
 */
.footer
{
    padding-top: 10px; /* margine superiore interno di 10 pixel */
    position: fixed; /* fissa l'elemento in una posizione specifica */
    left: 0; /* distanza di 0 pixel da sinistra */
    bottom: 0; /* distanza di 0 pixel dal basso */
    width: 100%; /* larghezza dell'elemento al 100% della larghezza del contenitore */
    height: 35px; /* altezza dell'elemento a 35 pixel */
    background-color: black; /* colore di sfondo nero */
    color: white; /* colore di testo bianco */
    text-align: center; /* allineamenteo del testo al centro all'intenro dell'elemento */
}


