/* Classe di formattazione per ogni elemento */
* {
    box-sizing: border-box; /* padding e il bordo inclusi nelle dimensioni totali dell'elemento. */
}

/* Formattazione del tag <body> */
body {
    font-family: Verdana, sans-serif; /* vengono definite le tipologie di font da utilizzare */
}


/* Classe di formattazione per le slide del carosello */
.mySlides {
    display: none; /* nasconde l'elemento */
    vertical-align: middle; /* allinea l'elemento verticalmente */
}

/* Classe di formattazione per il container dello slideshow */
.slideshow-container {
    position: relative; /* contenitore in posizione relativa rispetto al suo contesto */
    align-content: center!important; /* allinea il contenuto al centro, !important da precedenza a questo comando rispetto agli altri */
    box-shadow: 10px 10px 5px #dedede; /* crea un'ombre sul bordo, 10px offset orizzontale, 10px offset verticale, 5px diffusione ombra, colore dell'ombra */
}


/* Classe di formattazione per le immagini contenute nel carosello */
.immaginecarosello
{
    width: 100%; /* l'immagine occupa il 100% del suo contenitore */
    height: 800px; /* l'altezza dell'immagine è pari a 800px */
}


/* Classe di formattazione per i pallini di scorrimento del carosello automatico */
.dot {
    height: 15px; /* altezza di 15 px */
    width: 15px; /* larghezza di 15 px */
    margin: 0 2px; /* margini di 2px ai lati per separare gli indicatori. */
    background-color: #bbb; /* colore di sfondo su un grigio chiaro (#bbb). */
    border-radius: 50%;  /* bordo arrotondato al 50% per ottenere la forma circolare. */
    display: inline-block; /* elemento come un blocco all'interno del flusso del contenuto. */
    transition: background-color 0.6s ease; /* transizione per animare il cambio di colore di sfondo con una durata di 0.6 secondi e un effetto di transizione graduale (ease). */
}


/* CLassi di ormattazione per animazione di dissolvenza */
.fade {
    animation-name: fade; /* viene deifnita l'animazione "dissolvenza" */
    animation-duration: 1.5s; /* durata dell'animazione a 1.5s. */
}

/* Definizione di un'animazione keyframes chiamata "fade":
   - All'inizio dell'animazione (from), l'opacità è impostata a 0.4 (leggermente trasparente).
   - Alla fine dell'animazione (to), l'opacità è impostata a 1 (completamente visibile), creando un effetto di dissolvenza graduale. */
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* quando la larghezza dello schermo è massimo 300px:
    riduci la dimensione del carattere a 11px per migliorare la leggibilità su schermi stretti. */
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}


/*
    Centra il nome dell'azienda sopra al carosello
    Definisce solo la posizione
*/
.titolo_centrato
{
    position:absolute; /* definisce la posizione dell'elemento come assoluta */
    top:50%; /* utilizzato per l'allineamento centrale */
    left:50%; /* utilizzato per l'allineamento centrale */
    transform:translate(-50%,-50%); /* utilizzato per l'allineamento centrale */
    -ms-transform:translate(-50%,-50%); /* utilizzato per supportare internet explorer */
    text-align:center!important; /* testo centrato al centro */
}


/*
    Definisce la grandezza del nome dell'azienda posto al centro del carosello
*/
.nomeazienda
{
    font-size:36px!important; /* definisce la grandezza della scritta a 36 pixel */
}


/*
    Definisce lo stile del nome dell'azienda posto al centro del carosello
*/
.formato_azienda
{
    padding:8px 16px!important; /* definisce un padding di 8 pixel per sopra e sotto, di 16 pixel per destra e sinistra */
    color:#fff!important; /* definisce il colore bianco come colore del font */
    background-color:#000!important; /* definisce il colore di sfondo nero */
    opacity:0.75; /* applica un'opacità al 70% */
}

/* Classe di formattazione per la tabella che contiene tutti i noleggi (visualizzanoleggi) */
.tabella_noleggi {
    border-collapse: collapse; /* Combinare i bordi delle celle adiacenti */
    width: 100%; /* l'elemento occupa il 100% del suo contenitore */
    text-align: center;
}

/* Classe di formattazione per colonne e righe della tabella di tutti i noleggi */
.tabella_noleggi th, .tabella_noleggi td {
    border: 2px solid black; /* Aggiungere il bordo a tutte le celle */
    padding: 8px; /* Aggiungere spazio interno per una migliore leggibilità */
}

/* Classe di formattazione per l'intestazione della tabella di tutti i noleggi */
.tabella_noleggi thead{
    background-color: black;
    color: white;
}

/*
Classi di formattazione per i link di modifica ed elimina della tabella della F.A.Q.
 */
.tabella_link
{
    text-decoration: none; /* nessuna decorazione applicata al testo */
    color: black; /* colore del testo nero */
}

/*
Classe di formattazione dei link, quando viene passato sopra il cursore
 */
.tabella_link:hover
{
    color:red; /* il colore del testo diventa rosso */
    text-decoration: underline; /* si aggiunge la sottolineatura */
}


/*
Classe di formattazione per la visualizzazione a tendina del button definito nella navbar
 */
.dropdown {
    float: left; /* viene usato per posizionare l'elemento sulla sinistra */
    overflow: hidden; /* l'overflow viene nascosto */
}


/*
Classe di formattazione per il button che permette di far vedere il dropdown
 */
.dropbtn {
    border: none; /* rimozione del bordo dell'elemento */
    outline: none; /* rimuove l'indicazione visiva della selezione di un elemento */
    color: black; /* colore del font nero */
    background-color: inherit; /* colore di sfondo come quello dell'elemento genitore */
    font-family: inherit; /* font come quello dell'elemento genitore */
    margin: 0; /* margine dell'elemento a 0 */
}


/*
Classe di formattazione per il contenuto del menu a tendina
 */
.dropdown-content {
    display: none; /* inizialmente il contenuto verrà nascosto */
    position: absolute; /* elemento posizionato in modo assoluto rispetto all'elemento padre */
    background-color: #f9f9f9; /* sfondo grigio chiaro */
    min-width: 160px; /* larghezza minima 160 pixel */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* imposta un ombra all'elemento */
    z-index: 1; /* indice di profondità dell'elemento */
}


/*
Classe di formattazione per i link definiti con <a> all'interno del contenuto di una casella dropdown
 */
.dropdown-content a {
    float: none; /* rimuove ogni allineamento dell'elemento */
    color: black; /* colore nero del font */
    text-decoration: none; /* nessuna decorazione per il testo */
    display: block; /* imposta l'elemento come blocco, allineato su riga separata */
    text-align: left; /* allineameneto del testo a sinistra */
}


/*
Classe di formattazione per i link <a> definiti all'interno di un contenuto dropdown
 */
.dropdown-content a:hover {
    background-color: #ddd; /* quando si passa sopra al link lo sfondo si colora di grigio più scuro */
}


/*
Classe di formattazione per il passaggio sopra al button per mostrare le opzioni del menu a tendina
 */
.dropdown:hover .dropdown-content {
    display: block; /* imposta l'elemento come blocco, allineato su riga separata */
}
