/*
    CSS NAVBAR
*/

/*
    Classe formattazione generica della navbar
    Definizione tipo di font, grandezza font
*/
.navbar
{
    font-family: Verdana, sans-serif; /* specifica il tipo di carattere ad usare, se non trova il primo utilizza il secondo specificato*/
    font-size: 15px; /* grandezza del font della pagina */
    line-height: 1.5; /* altezza di una riga all'interno di un elemento, detetrmina lo spazio verticale tra le linee di testo */
    /*margin: 0;*/ /* imposta il margine degli elementi a 0, ovvero lo spazio tra l'elemento stesso e gli altri elementi circostanti*/
    -ms-text-size-adjust:100%; /* adattamento di dimensione del testo nei browser internet explorer */
    -webkit-text-size-adjust:100%; /* specifica come il browser webkit dovrebbe gestire il ridimensionamento del testo nella pagina web (Chrome e Safari) */
    box-sizing:border-box; /* indica che il box-model dell'elemento è calcolato includendo padding bordo all'interno delle dimensioni */
    overflow-x:hidden; /* indica che il contenuto che supera la larghezza dell'elemento sarà nascosto e non visibile */
    border-bottom: 1px outset; /* inserisce un bordo nella parte inferiore della navbar spesso 1 pixel */
    padding-bottom: 15px; /* inserisce uno spazio nella parte inferiore della navbar di 15 pixel */
}


/*
    Classe formattazione specifica per ogni bottone della navbar
    Definizione di grandezze, bordi, cursore, testo, ecc
*/
.element_navbar
{
    padding:8px 16px; /* valore padding 8px top e bottom e 16px right e left */
    width:auto; /* imposta larghezza degli elementi in base al loro contenuto */
    border:none; /* rimuove il bordo di un elemento HTML */
    outline:0; /* contorno che circonda un elemento quando viene selezionato o riceve il focus */
    vertical-align:middle; /* allinea verticalmente un elemento all'interno del contenitore */
    overflow:hidden; /* nasconde il contenuto che supera i limiti di un elemento con dimensione fissa o predefinta*/
    text-decoration:none; /* rimuove tutte le decorazioni del testo, es sottolineature, ecc */
    text-align:center; /* centra orizzontalmente il testo all'interno di un elemento */
    color: black; /* colore del testo nero */
    cursor:pointer; /* il cursore diventa un dito puntatore quando passa sopra l'elemento */
    white-space:nowrap; /* impedisce il wrap del contenuto di un elemento su una nuova riga */
    -webkit-touch-callout:none; /* impedisce la visualizzazione del menu che solitamente appare sui dispositivi mobili */
    -webkit-user-select:none; /* impedisce agli utenti di selezionare, copiare o incollare il testo all'interno dell'elemento */
    -moz-user-select:none; /* impedisce agli utenti di selezionare il testo all'interno dell'elemento (browser Mozilla, es FireFox) */
    -ms-user-select:none; /* impedisce agli utenti di selezionare il testo all'interno dell'elemento (specifico per browser Microsoft Edge)*/
    user-select:none; /* impedisce di selezionare testi o elementi */
}


/*
    Definizione di regole quando la navbar è più piccola di 800 pixel
    La definizione di queste regole serve per rendere il sito responsive
    La classe ridimensiona semplicemente la grandezza e la posizione deli button della navbar
*/
@media (max-width:800px){

    .navbar .element_navbar {
        display:block;
        margin:10px 0px;
        text-align:left;
        width: 100%;
    }
}


/*
    Proprietà da applicare quando l'elemento della barra di navigazione è disabilitato
 */
.element_navbar:disabled
{
    cursor:not-allowed; /* indica che se l'elemento è disabilitato l'utente non può cliccarci */
    opacity:0.3; /* imposta l'opacità di un elemento al 30% della sua opacità completa */
}


/*
    Proprietà da applicare quando si passa sopra con il cursore all'elemento della navbar
 */
.element_navbar:hover
{
    color:#000!important; /* colore del font nero */
    background-color:#ccc!important; /* colore di sfondo grigio */
    outline-width:0; /* imposta la larghezza del contorno di un elemento */
}


/*
    Classe per allineare un elemento a sinistra
 */
.posizione_sx
{
    float:left!important; /* posiziona elemento a sx rispetto agli altri, ignorando qualsiasi altro valore definito da altre regole css */
}


/*
    Classe per allineare un elemento a destra
 */
.posizione_dx
{
    text-align: right; /* allinea gli elementi a destra */
}


/*
    CSS COLONNE NOLEGGIO, CONTATTI E FAQ
 */

/*
    Classi di formattazione per le immagini inserite nelle colonne
*/
.imm
{
    width: 50%; /* indica che la larghezza dell'immagine è il 50% del suo contenitore */
    height: 200px; /* indica che l'altezza dell'immagine è 200 pixel */
}


/*
    Classe di formattazione per il titolo dell'immagine delle colonne
*/
.titolo
{
    text-decoration: none; /* indica che non deve essere presente nessuna decorazione al testo */
    color: black; /* indica che il colore del testo è nero */
}


/*
    Classe di formattazione per la grandezza e stile delle colonne definite per il corpo della home
*/
.colonna_click {
    float: left; /* posiziona a sinistra l'elemento rispetto al suo contenitore */
    width: 33.33%; /* larghezza che la colonna deve occupare */
    height: 300px; /* altezza della colonna definita */
    text-align: center!important; /* allineamento del contenuto della colonna al centro del contenitore */
    vertical-align: center!important; /* allineamento verticale del contenuto al centro */
    box-sizing: border-box; /* box di un elemento comprende contenuto stesso, padding e bordo */
    background-color: transparent;
}


/*
    Classe di formattazione per separare le tre colonne
*/
.separatore
{
    border-right: 5px solid #000000; /* inserisce un bordo visibile di 5 pixel nero sul lato destro */
}


/*
    Classe di formattazione per la riga definita per il corpo della home
    Sever per creare un'area vuota e pulita dopo l'elemento definito con classe riga
*/
.riga:after {
    content: ""; /* aggiunge un contenuto vuoto all'elemento */
    display: table; /* imposta il tipo di visualizzazione su tabella */
    clear: both; /* cancella entrambi i lati dell'elemento per evitare che vengano affiancati altri elementi */
}


/*
    Definizione di regole quando la finestra del sito è più piccola di 800 pixel
    La definizione di queste regole serve per rendere il sito responsive
    La classe ridimensiona semplicemente la grandezza e la posizione delle colonne faq, chi siamo e come noleggiare
    La classe di formattazione elimina poi il separatore nero tra le varie colonne
*/
@media (max-width:800px){

    .colonna_click {
        display:block;
        margin:10px 0px;
        text-align:left;
        width: 100%;
    }

    .separatore
    {
        border-right: 0; /* inserisce un bordo visibile di 5 pixel nero sul lato destro */
    }
}


/*
    CSS FOOTER
*/

/*
    Formattazione del tag <footer> per impostare il footer della pagina
    Modifica di colori, font, grandezza e decorazioni
*/
footer{
    background:#000; /* colore di sfondo nero */
    padding:30px 0px; /* spazio di riempimento di 30 pixel parte superiore e inferiore, 0 pixel destra e sinistra */
    font-family: 'Play', sans-serif; /* specifica i font da utilizzare */
    text-align:center; /* allineamento del testo al centro */
    width:100%; /* l'elemento occupa il 100% dello spazio del suo contenitore */
    color:gray; /* colore del testo grigio */
    font-size:0.8em; /* imposta dimensione font 80% della dimensione del testo di default */
    text-decoration:none; /* nessuna decorazione al testo come sottolineature, ecc */
    transition:0.5s; /* durata di transizione per gli effetti di transizione tra le proprietà CSS (durata = 0.5 secondi) */
}


/*
    Classe di formattazione per la singola riga all'interno del footer
    Definizione di dimensioni, transition, font
*/
.rigafooter{
    width:100%; /* l'elemento occupa il 100% dello spazio del suo contenitore */
    padding:15px 0px; /* spazio di riempimento di 30 pixel parte superiore e inferiore, 0 pixel destra e sinistra */
    color:gray; /* colore font grigio */
    text-decoration:none; /* nessuna decorazione per il testo all'interno dell'elemento */
    transition:0.5s; /* durata di transizione per gli effetti di transizione tra le proprietà CSS (durata = 0.5 secondi) */
    display:inline-block; /* possono essere posizionati elementi di fianco, senza andare a riga nuova, comportamento di un elemento inline */
    font-size:0.8em; /* imposta dimensione font 80% della dimensione del testo di default */
}


/*
    Classe di formattazione per i link contenuti nel footer
*/
.link_footer{
    text-decoration:none; /* nessuna decorazione per il testo dell'elemento */
    color:gray; /* colore del font grigio */
    transition:0.5s; /* durata di transizione per gli effetti di transizione tra le proprietà CSS (durata = 0.5 secondi) */
}


/*
    Classe di formattazione quando si passa sopra con il cursore ad un elemento con classe link_footer
    Cambia il colore del font
*/
.link_footer:hover{
    color:#fff; /* colore del font bianco */
}


/*
    Classe di formattazione per la lista non ordinata presente nel footer
*/
.listafooter{
    width:100%; /* l'elemento occupa il 100% del suo contenitore */
}


/*
    Classe di formattazione per ogni punto della lista avente come classe listafooter
*/
.listafooter li{
    display:inline-block; /* possono essere posizionati elementi di fianco, senza andare a riga nuova, comportamento di un elemento inline */
    margin:0px 30px; /* definizione margine 0 pixel superiore e inferiore, 30 pixel destro e sinistro. */
}


/*
    Classe di formattazione per il tag <i> contenente loghi social avente come classe link_footer
*/
.link_footer i{
    font-size:2em; /* definizione della grnadezza del font */
    margin:0% 1%; /* definizione dei margini */
}


/*
    Definizione di regole quando la finestra del sito è più piccola di 800 pixel
    La definizione di queste regole serve per rendere il sito responsive
    La classe ridimensiona semplicemente la grandezza e la posizione degli elementi del footer
*/
@media (max-width:800px){

    .listafooter li{
        display:block;
        margin:10px 0px;
        text-align:left;
    }

    .link_footer li{
        margin:0% 3%;
    }
}


/*
    CSS F.A.Q.
*/

/*
    Classe di formattazione per lo specchietto della domanda
    Si specificano vari colori, spaziature, allineamento testuale, ecc
*/
.domanda {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .domanda:hover {
    background-color: #ccc;
}

.domanda:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.risposta {
    padding: 0 18px;
    background-color: white;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}


/*
    Classe per allineare un elemento al centro della pagina
 */
.posizione_cx
{
    text-align: center!important; /* posiziona elemento a cx */
}


/*
    Classe di formattazione per aggiungere margini sinistro e destro al paragrafo
*/
.margini_testo
{
    padding-left: 100px;
    padding-right: 100px;
}
