/* Imposta la dimensione della casella su "border-box", in modo che il padding e il bordo
siano inclusi nelle dimensioni totali dell'elemento. */
* {box-sizing: border-box;}

/* Imposta il tipo di carattere del testo all'interno del corpo. */
body {font-family: Verdana, sans-serif;}


.mySlides {
    display: none; /* Nasconde gli elementi impostando la loro visualizzazione su "none". */
    vertical-align: middle; /* Allinea gli elementi verticalmente */
}

/* Slideshow container */
.slideshow-container {
    position: relative; /* Posiziona il contenitore in modo relativo rispetto al suo contesto. */
    align-content: center!important;
    box-shadow: 10px 10px 5px #dedede;
}

.immaginecarosello
{
    width: 100%;
    height: 800px;
}


/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2; /* Imposta il colore del testo su un tono grigio chiaro (#f2f2f2). */
    font-size: 12px;    /* Imposta la dimensione del carattere a 12px. */
    padding: 8px 12px;  /* Aggiunge spaziatura interna di 8px nella parte superiore e inferiore e di 12px ai lati. */
    position: absolute; /* Posiziona l'elemento in modo assoluto all'interno del suo contenitore. */
    top: 0; /* Allinea l'elemento nella parte superiore del contenitore. */
}

/* The dots/bullets/indicators */
.dot {
    height: 15px; /* Imposta altezza e larghezza a 15px, creando un cerchio. */
    width: 15px;
    margin: 0 2px; /* Aggiunge margini di 2px ai lati per separare gli indicatori. */
    background-color: #bbb; /* Imposta il colore di sfondo su un grigio chiaro (#bbb). */
    border-radius: 50%;  /* Applica un bordo arrotondato al 50% per ottenere la forma circolare. */
    display: inline-block; /* Mostra l'elemento come un blocco all'interno del flusso del contenuto. */
    transition: background-color 0.6s ease; /* Applica una transizione per animare il cambio di colore di sfondo con una durata di 0.6 secondi e un effetto di transizione graduale (ease). */
}

.active {
    background-color: #717171;
}

/* animazione di dissolvenza. */
.fade {
    animation-name: fade;
    animation-duration: 1.5s; /* imposta la durata dell'animazione a 1.5s. */
}

/* Definizione di un'animazione keyframes chiamata "fade":
   - All'inizio dell'animazione (from), l'opacità è impostata a 0.4 (leggermente trasparente).
   - Alla fine dell'animazione (to), l'opacità è impostata a 1 (completamente visibile), creando un effetto di dissolvenza graduale. */
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
/* quando la larghezza dello schermo è massimo 300px:
    riduci la dimensione del carattere a 11px per migliorare la leggibilità su schermi stretti. */
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}
